Repository davifsroberto/recording: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --config ./.prettierrc --write

feat: add ESLint and Prettier configuration files, update .prettierrc settings, and create ignore files
  .editorconfig
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .prettierignore
  .prettierrc
Due: npx prettier --config ./.prettierrc --write

feat: add simple-import-sort plugin to ESLint configuration and update package dependencies
  .eslintrc.json
  package-lock.json
  package.json
Due: npx prettier --config ./.prettierrc --write

refactor: organize import statements across multiple files for better readability
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  src/prisma.service.ts
  test/app.e2e-spec.ts
  test/video.e2e-spec.ts
Due: npx eslint --fix

feat: implement video content management and streaming services with Prisma integration
  database/schema.prisma
  package.json
  src/__test__/video.e2e-spec.ts
  src/app.controller.spec.ts
  src/app.module.ts
  src/app.service.ts
  src/core/service/content-management.service.ts
  src/core/service/media-player.service.ts
  src/core/use-case/prepare-streaming.use-case.ts
  src/http/rest/controller/content.controller.ts
  src/persistence/prisma/prisma.service.ts
  test/app.e2e-spec.ts
Due: npx eslint --fix, npx prettier --config ./.prettierrc --write

feat: add class-transformer and class-validator dependencies for input validation
  package-lock.json
  package.json
Due: npx prettier --config ./.prettierrc --write

feat: implement domain and video not found exceptions, update media player service for error handling
  src/core/exception/domain.exception.ts
  src/core/exception/video-not-found.exception.ts
  src/core/service/media-player.service.ts
  src/core/use-case/prepare-streaming.use-case.ts
  src/http/rest/controller/content.controller.ts
  src/http/rest/dto/response/create-video-response.dto.ts
  src/http/rest/interceptor/rest-response.interceptor.ts
Due: npx eslint --fix

feat: enhance CreateVideoResponseDto with additional properties for thumbnailUrl, sizeInKb, and duration
  src/http/rest/dto/response/create-video-response.dto.ts
Due: npx eslint --fix

Path conditions:
  npx eslint --fix: any of: *.ts
  npx prettier --config ./.prettierrc --write: any of: *.{json,html,scss}
